node_modules
*.log
*.log.*
logs
.vscode
dest
coverage
.idea
dist
build
package-lock.json
yarn.lock
.DS_*
.nyc*
run/
.nodejs-cache
AUTHORS
.serverless
.faas_debug_tmp
code.zip
.env_temp
f.origin.yml
.eslintcache

.env.development
